@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-scandia-medium: 'scandia-medium';
    --font-scandia-bold: 'scandia-bold';

    --color-brand: #f9322c;
    --color-white: #fff;
    --color-black: #000;
}

@layer base {
    body {
        @apply flex flex-col min-h-screen antialiased;
    }

    main {
        @apply grow;
    }
}
